/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacerb {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/img/wave-top.svg");
}
.spacert {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/img/wave-top.svg");
}

.waveb {
  background-image: url("/assets/img/wave-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  content: "";
}
.wavet {
  background-image: url("/assets/img/wave-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
} */
